header {
  text-align: center;
  background-color: rgb(163, 245, 10);
  margin-bottom: 1%;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: aquamarine;
}

nav ul {
  padding-right: 10px;
  background-color: chartreuse;
  font-weight: bolder;
}
.main-content {
  display: flex;
  height: 800px;
  width: 800px;
  background-color: rgb(213, 190, 235);
}

.main-content .child-image {
  flex-direction: row;
  height: 800px;
  width: 100px;
}
.main-content .child-video {
  height: 100px;
  width: 100px;
}
.main-content .child-pdf {
  height: 100px;
  width: 100px;
}
